.column {
  height: 850px;
  background-color: #2d4059;
  border-color: black;
}

.column-name {
  font-size: 1.5rem;
}

.column-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 32, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 2px solid black;
  border-radius: 2%;
}
