<div class=" column mt-2 p-1 border border-3">
    <div class="column-header text-center align-items-center d-flex justify-content-between text-light p-1">
      <a class="invisible btn btn-success">
        <i class="rounded fas fa-plus-square text"></i>
      </a>
      <span class="column-name">{{ column }}</span>
      <a (click)="createCard()" class="btn btn-success" [ngClass]="column === 'ToDo' ? 'visible' : 'invisible'">
        <i class="rounded fas fa-plus my-1"></i>
      </a>
    </div>
    <app-card *ngFor="let card of cards" [column]="column" [card]="card" (cardChanged) = "onCardChanged(card)">
  </app-card>
  </div>




