<div *ngIf="card.lista == column" class="card" id="card-body" [ngStyle]="{ backgroundColor: getBackgroundColor() }"

>
  <div class="d-flex p-1">
    <input  [readonly]="!editMode" [(ngModel)]="titulo" class="form-control" type="text" placeholder="Título da tarefa"/>
    <a (click)="toggleEditMode()" class="btn" *ngIf="!editMode">
      <i class="fas fa-edit"></i>
    </a>
  </div>


  <div class="p-1 bg-opacity-75">
    <textarea [readonly]="!editMode" [(ngModel)]="conteudo" class="form-control" placeholder="Descrição da tarefa">
      {{ conteudo }}
      </textarea>
  </div>



  <div class="d-flex justify-content-between bg-opacity-75 p-1" *ngIf="!editMode">
    <a  class="btn" (click)="rewindCard()" [ngClass]="firstColumn ? 'invisible' : 'visible'">
      <i class="fas fa-arrow-alt-circle-left"></i>
    </a>
    <a class="btn" (click)="deleteCard()">
      <i class="fas fa-trash-alt"></i>
    </a>
    <a [ngClass]="card.id == '' ? 'invisible' : 'visible'"  class="btn"  (click)="advanceCard()" [ngClass]="lastColumn ? 'invisible' : 'visible'">
      <i class="fas fa-arrow-alt-circle-right"></i>
    </a>
  </div>



  <div
    class="d-flex justify-content-between bg-opacity-75 p-1"
    *ngIf="editMode">
    <a (click)="cancelEdit()" class="btn">
      <i class="fas fa-ban"></i>
    </a>
    <a (click)="saveCard()" class="btn">
      <i class="fas fa-save"></i>
    </a>
  </div>
</div>

